## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kuang,MY,80.01,few clouds,3.2594,101.5541,Guest House Dpinggiran
1,4,Takoradi,GH,80.76,light rain,4.8845,-1.7554,Raybow International Hotel
2,16,Vaini,TO,82.40,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,19,Avarua,CK,82.40,broken clouds,-21.2078,-159.7750,Paradise Inn
4,26,Puerto Ayora,EC,75.99,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Sao Jose Da Coroa Grande"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Sao Jose Da Coroa Grande"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Natal"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Touros"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Acarau"]

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
brazil_trip = gmaps.directions_layer(start, end, waypoints =[stop1, stop2, stop3],
                                    travel_mode="DRIVING")
fig.add_layer(brazil_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,391,Sao Jose Da Coroa Grande,BR,78.48,clear sky,-8.8978,-35.1478,Crôa Mares Hotel
1,432,Natal,BR,80.60,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
2,335,Touros,BR,77.00,clear sky,-5.1989,-35.4608,INN NEW HORIZON
3,282,Acarau,BR,78.44,overcast clouds,-2.8856,-40.1200,castelo pizzaria
4,391,Sao Jose Da Coroa Grande,BR,78.48,clear sky,-8.8978,-35.1478,Crôa Mares Hotel

In [46]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))